streamlit==1.45.1

numpy==1.26.4
pandas==2.2.3

opencv-python-headless==4.10.0.84
mediapipe==0.10.14

torch==2.6.0
torchvision==0.21.0

librosa==0.10.2.post1
soundfile==0.13.1

scikit-learn==1.6.1
matplotlib==3.10.1
Pillow==11.2.1
reportlab==4.4.1
